@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Heebo:100,200,300,regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
.box_continer {
    background-image: url("../images/Frame.png");
    /* width: 100%; */
    height: 916px;
    position: relative;
}

.box_continer_1 {
    background-image: url("../images/Frame.png");
    /* width: 1440px; */
    height: 130px;
    position: relative;
    top: 0px;
}

.box_hero {
    /* width: 1199px; */
    height: 817px;
    /* background-color: aliceblue; */
    position: relative;
    top: 40px;
    left: 10px;
}

.navbar {
    width: 1199px;
    height: 56px;
    /* background-color: red; */
    position: relative;
    top: 0px;
}

.div_logo_plus_item {
    width: 887px;
    height: 56px;
    /* background-color: palegoldenrod; */
    position: relative;
    top: 0px;
}

.div_logo_plus_item>.logo {
    width: 142px;
    height: 56px;
    /* background-color: salmon; */
    position: relative;
    top: 0px;
}

.div_logo_plus_item>.item_menu {
    width: 575px;
    height: 56px;
    /* background-color: gainsboro; */
    position: absolute;
    top: 0px;
    left: 312px;
    text-align: center;
    display: flex;
    padding-left: 50px;

}

.div_logo_plus_item>.item_menu>.item {

    /* background-color: khaki; */
    width: 75px;
    height: 56px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.div_logo_plus_item>.item_menu>.item>.page {

    /* background-color: firebrick; */
    font-family: Heebo;
    width: 75px;
    height: 30px;
    position: relative;
    top: 10px;
    text-align: center;
    color: rgba(250, 250, 250, 1);
}

.div_logo_plus_item>.item_menu>.item>.page>a {

    color: rgba(250, 250, 250, 1);
}

.div_logo_plus_item>.item_menu>.item>.vector7 {

    /* background-color: hotpink; */
    width: 75px;
    height: 20px;
    position: relative;
    top: 5px;
    text-align: center;
}

.div_search {
    width: 241px;
    height: 56px;
    /* background-color: palegreen; */
    position: absolute;
    top: 0px;
    right: 0px;
    border: 2px solid rgba(250, 250, 250, 1);
    border-radius: 20px;

}


.div_search>.input_search {
    width: 172px;
    height: 24px;
    /* background-color: hotpink; */
    position: relative;
    top: 15px;
    left: 40px;


}

.div_search>.input_search>form>input {
    width: 172px;
    height: 24px;
    border: none;
    border-radius: 20px;
    color: rgba(250, 250, 250, 1);
    font-family: Heebo;
     background-color: transparent;

}

.div_search>.logo_search {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    left: 18px;
}

.div_search>.logo_search>img {
    width: 24px;
    height: 24px;
}

.continer_hero {
    width: 1199px;
    height: 691px;
    /* background-color: green; */
    position: relative;
    top: 70px;
    left: 30px;
}

.continer_hero>.zone_text {
    width: 499px;
    height: 625px;
    /* background-color: yellow; */
    position: relative;
    top: 33px;
}

.continer_hero>.zone_text>.div_more_than_medicine {
    width: 499px;
    height: 418px;
    /* background-color: orange; */
    position: relative;
    top: 0px;
}

.continer_hero>.zone_text>.div_more_than_medicine>.titre_sur_forme_button {
    width: 499px;
    height: 48px;
    position: relative;
    top: 0px;
}

.continer_hero>.zone_text>.div_more_than_medicine>.titre_sur_forme_button>.cadre {
    width: 335px;
    height: 48px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(94, 224, 135, 0.591);
    border: 2px solid #2ECC71;
    position: relative;
    top: 0px;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    text-align: center;
    font-family: Heebo;
    font-size: 24px;

}

.continer_hero>.zone_text>.div_more_than_medicine>.text {
    width: 499px;
    height: 234px;
    /* background-color: saddlebrown; */
    position: relative;
    top: 35px;

}

.continer_hero>.zone_text>.div_more_than_medicine>.text>.title {
    width: 499px;
    height: 150px;
    /* background-color: yellowgreen; */
    color: rgba(250, 250, 250, 1);
    font-family: IBM Plex Sans;
font-weight: bold;

    font-size: 52px;
}

.continer_hero>.zone_text>.div_more_than_medicine>.text>.description {
    width: 499px;
    height: 70px;
    /* background-color: rebeccapurple; */
    position: absolute;
    bottom: 0px;
    color: white;
    font-family: Heebo;
    font-size: 24px;
    font-weight: bold;
}
p{
     font-family: Heebo;
}
.continer_hero>.zone_text>.div_more_than_medicine>.div_button_contact_appoi {
    width: 499px;
    height: 66px;
    /* background-color: aliceblue; */
    position: absolute;
    bottom: 0px;
    display: flex;

}

.continer_hero>.zone_text>.div_more_than_medicine>.div_button_contact_appoi>a>.book_appoi_btn {
    width: 267px;
    height: 66px;
    background-color: rgba(255, 111, 97, 1);
    border-radius: 30px;
    color: rgba(250, 250, 250, 1);
    text-align: center;
     font-family: Heebo;
}

.continer_hero>.zone_text>.div_more_than_medicine>.div_button_contact_appoi>a>.book_appoi_btn>.btn {
    display: flex;
    align-items: center;
}

.continer_hero>.zone_text>.div_more_than_medicine>.div_button_contact_appoi>a>.book_appoi_btn>.btn>.text {
    width: 231px;
    color: rgba(250, 250, 250, 1);
    text-align: center;

    font-size: 20px;
    position: relative;
    top: 16px;
    text-align: center;
     font-family: Heebo;

}

.continer_hero>.zone_text>.div_more_than_medicine>.div_button_contact_appoi>a>.book_appoi_btn>.btn>.icon {
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 30px;
    position: relative;
    top: 16px;
    right: 20px;

}

.continer_hero>.zone_text>.div_more_than_medicine>.div_button_contact_appoi>a>.book_appoi_btn>.btn>.icon>img {
    width: 32px;
    height: 32px;
    text-align: center;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 30px;
    position: relative;



}

.continer_hero>.zone_text>.div_more_than_medicine>.div_button_contact_appoi>p {
    color: rgba(250, 250, 250, 1);
    margin: 20px 30px;

}

.continer_hero>.zone_text>.div_more_than_medicine>.div_button_contact_appoi>a>.contact_btn {
    width: 179px;
    height: 64px;
    color: rgba(250, 250, 250, 1);
    text-align: center;
    border: 1px solid rgba(250, 250, 250, 1);
    font-size: 20px;
    text-align: center;
    border-radius: 30px;


}

.continer_hero>.zone_text>.div_more_than_medicine>.div_button_contact_appoi>a>.contact_btn>.text {
    color: rgba(250, 250, 250, 1);
    text-align: center;
    position: relative;
    top: 18px;
    right: 1px;
     font-family: Heebo;

}

.continer_hero>.zone_text>.div_open_hours {
    width: 499px;
    height: 88px;
    /* background-color: violet; */
    position: relative;
    top: 119px;
    display: flex;
}

.continer_hero>.zone_text>.div_open_hours>.logo_hours {
    width: 87px;
    height: 87px;
    background-color: rgba(94, 224, 136, 1);
    border-radius: 20px;
    text-align: center;
}

.continer_hero>.zone_text>.div_open_hours>.logo_hours>img {
    position: relative;
    top: 20px;

}

.continer_hero>.zone_text>.div_open_hours>.text_hours {
    width: 392px;
    height: 88px;
    color: rgba(250, 250, 250, 1);
     font-family: Heebo;
}

.continer_hero>.zone_text>.div_open_hours>.text_hours>ul {
    list-style: none;
}

.continer_hero>.zone_text>.div_open_hours>.text_hours>ul>li {
    font-size: 20px;
     font-family: Heebo;
}

.continer_hero>.image_hero {
    width: 650px;
    height: 691px;
    /* background-color: yellow; */
    position: absolute;
    top: 0px;
    right: 0px;
}

.continer_hero>.image_hero>img {
    width: 650px;
    height: 691px;
}

.check_doctor {
    width: 651px;
    height: 260px;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: absolute;
    bottom: 0px;
    right: 90px;
}


.input_form>form {
    width: 591px;
    height: 205px;
    /* background-color: gold; */
    margin: 30px;
    position: relative;
}

.input_form>form>.row1 {
    width: 590px;
    height: 56px;
    margin-bottom: 20px;
    display: flex;
    /* background-color: antiquewhite; */
}

.input_form>form>.row1>.col1 {
    width: 285px;
    height: 56px;
    border: 1px solid;
    position: absolute;
    left: 0px;
    border-radius: 13px;
    display: flex;
}

.input_form>form>.row1>.col1>.image {
    width: 25px;
    height: 25px;
    position: relative;
    top: 18px;
    left: 15px;
}

.input_form>form>.row1>.col1>.select {
    width: 224px;
    height: 24px;
    position: relative;
    top: 15px;
    left: 15px;
    text-align: center;
    color: rgba(250, 250, 250, 1);
}

.input_form>form>.row1>.col1>.select>select,
.input_form>form>.row1>.col1>.select>input {
    width: 224px;
    height: 24px;
    text-align: center;
    border: 0px;
}


.input_form>form>.row1>.col1>.select>select>option {
    width: 224px;
    height: 24px;
    text-align: center;
    border: 0px;
    color: gainsboro;

}

.input_form>form>.row1>.col2 {
    width: 285px;
    height: 56px;
    /* background-color: #2ECC71; */
    border: 1px solid;
    position: absolute;
    border-radius: 13px;
    right: 0px;
}

.input_form>form>.row1>.col2>.image {

    width: 25px;
    height: 25px;
    position: relative;
    top: 18px;
    left: 15px;
}

.input_form>form>.row1>.col2>.select {
    width: 224px;
    height: 24px;
    position: absolute;
    top: 15px;
    left: 40px;
    text-align: center;
    color: rgba(250, 250, 250, 1);
}

.input_form>form>.row1>.col2>.select>select {
    width: 224px;
    height: 24px;
    border: 0px;
}

.input_form>form>.row1>.col2>.select>select>option {
    width: 224px;
    height: 24px;
    text-align: center;
    border: 0px;
    color: gainsboro;

}

.input_form>form>.row2> {
    width: 590px;
    height: 56px;
    margin-bottom: 20px;
    display: flex;
    align-self: center;
}

.input_form>form>.row2>input {
    width: 285px;
    height: 56px;
    background-color: rgba(255, 111, 97, 1);
    color: rgba(250, 250, 250, 1);
    border-radius: 10px;
    border: 0px;
    position: relative;
    left: 150px;

}

.statistique {
    /* width: 1440px; */
    height: 335px;
    background-color: #FFF;
}

.statistique>div {
    width: 1199px;
    height: 133px;
    position: relative;
    top: 101px;
    left: 30px;
    display: flex;
    /* background-color: rebeccapurple; */

}

.statistique>div>.item {
    width: 217px;
    height: 133px;

    margin-right: 90px;
}

.statistique>div>.margin_zero {

    margin-right: 0px;
}

.statistique>div>.item>.statistique_nb {
    width: 217px;
    height: 94px;

    font-family: IBM Plex Sans;
    color: #3498DB;
    font-weight: bold;
    font-size: 72px;
}

.statistique>div>.item>.text {
    width: 217px;
    height: 29px;
    font-family: Heebo;
    font-weight: Regular;
    color: rgba(49, 49, 49, 1);
    font-size: 20px;
}

.about_us {
    background-image: url("../images/Frame\ 1000001998.png");
    height: 883px;
    position: relative;
}

.about_us>.continer {
    height: 739px;
    display: flex;
    position: absolute;
    left: 60px;
    top: 80px;

}

.about_us>.continer>.div1_images {
    height: 683px;
    width: 550px;
}

.about_us>.continer>.div1_images>.div1 {
    height: 326;
    background-color: ghostwhite;
}

.about_us>.continer>.div1_images>.div2 {
    position: relative;
    top: 20px;
    height: 326;
    position: relative;
    border-radius: 30px;

}

.about_us>.continer>.div1_images>.div2>.lire {
    height: 91px;
    width: 91px;
    background-color: white;
    border-radius: 60px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: center;
}

.about_us>.continer>.div1_images>.div2>.lire>img {
    height: 50px;
    width: 50px;
    position: relative;
    top: 20%;
    text-align: center;

}

.about_us>.continer>.div1_images>.div2>.text {
    height: 138px;
    width: 241px;

    text-align: center;
    background-color: rgba(94, 224, 136, 1);
    position: absolute;
    top: 72px;
    right: 48px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
}

.about_us>.continer>.div1_images>.div2>.text>.text1 {
    height: 66px;
    color: rgba(250, 250, 250, 1);
    font-family: IBM Plex Sans;
    font-size: 38px;
    font-weight: bold;
    justify-self: left;
    position: relative;
    left: 20px;
    top: 10px;
}

.about_us>.continer>.div1_images>.div2>.text>.text2 {
    color: rgba(250, 250, 250, 1);
    font-family: Heebo;
    font-size: 18px;
    justify-self: left;
    position: relative;
    left: 20px;
    top: 10px;

}

.about_us>.continer>.div2_text {
    height: 683px;
    /* background-color: red; */
    width: 550px;
    position: relative;
    left: 30px;
}


.about_us>.continer>.div2_text>.title {
    height: 30px;
    background-color: gainsboro;
    width: 141px;
    background-color: rgba(94, 224, 136, 1);
    border: 2px solid rgba(46, 204, 113, 1);
    color: rgba(250, 250, 250, 1);
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    position: relative;
    left: 30px;
    top: 10px;
    font-family: Heebo;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.about_us>.continer>.div2_text>.text {
    height: 260px;

    width: 550px;
    /* background-color: darkblue; */
    /* position: relative; */

}

.about_us>.continer>.div2_text>.text>h1 {
    width: 550px;
    height: 124px;
    /* background-color: gainsboro; */
    font-family: IBM Plex Sans;
    color: #3498DB;
    font-weight: bold;
    font-size: 40px;
}

.about_us>.continer>.div2_text>.text>p {
    width: 550px;

    /* background-color: gainsboro; */
    font-family: heebo;
    color: rgba(49, 49, 49, 1);
    font-weight: bold;
    font-size: 20px;
}

.about_us>.continer>.div2_text>.text2 {
    width: 520px;
    /* background-color: rebeccapurple; */
    font-family: heebo;
    color: rgba(49, 49, 49, 1);
    font-weight: bold;
    font-size: 20px;
    border: 2px solid rgba(225, 225, 225, 1);
    border-radius: 10px;
    position: relative;
    top: 50px;
    
    height: 200px;
  

}

.about_us>.continer>.div2_text>.text2>.description {

    font-family: heebo;
    color: rgba(49, 49, 49, 1);
    font-weight: bold;
    font-size: 16px;
    position: relative;
    top: 40px
    ;
    left: 20px;
}

.about_us>.continer>.div2_text>.image1 {


    font-family: heebo;
    color: rgba(49, 49, 49, 1);
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 350px;

}

.about_us>.continer>.div2_text>.text2>.text_image {
    height: 52px;
    width: 330px;
    font-size: 20px;
    position: relative;
    top: 55px;
    left: 20px;
    margin-right: 20px;
    display: flex;
}
.about_us>.continer>.div2_text>.text2>.text_image>.text {
    height: 52px;
    width: 330px;
    font-size: 20px;
   color: rgba(52, 152, 219, 1);
    margin-left: 20px;
    font-family: Heebo;
    font-size: 19px;
}


.about_us>.continer>.div2_text>a>.button   {
    height: 52px;
    width: 230px;
    font-size: 20px;
    color: white;
    margin-left: 20px;
    font-family: Heebo;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    background-color: rgba(255, 111, 97, 1);
    border-radius: 20px;
    display: flex;
   
}

.about_us>.continer>.div2_text>a>.button>div   {
    height: 24px;
    width: 24px;
    border-radius: 200px;
    text-align: center;
   background-color: white;
   position: absolute;
   right: 30px;
   top: 15px;
}

.about_us>.continer>.div2_text>a>.button>p   {
    
 
   position: absolute;
   left: 40px;
}