.box_continer {
    background-image: url("../images/Frame.png");
    width: 1440px;
    height: 916px;
}

.box_hero {
    width: 1199px;
    height: 817px;
    background-color: aliceblue;
    position: relative;
    top: 40px;
    left: 120px;
}

.navbar {
    width: 1199px;
    height: 56px;
    background-color: red;
    position: relative;
    top: 0px;
}

.div_logo_plus_item {
    width: 887px;
    height: 56px;
    background-color: palegoldenrod;
    position: relative;
    top: 0px;
}

.div_logo_plus_item>.logo {
    width: 142px;
    height: 56px;
    background-color: salmon;
    position: relative;
    top: 0px;
}
.div_logo_plus_item >.item_menu {
    width: 575px;
    height: 56px;
    background-color: gainsboro;
    position: absolute;
    top: 0px;
    left: 312px;
}
.div_logo_plus_item >.item_menu>.item {
    width: 50px;
    height: 50px;
    background-color: khaki;
}

.div_search {
    width: 241px;
    height: 56px;
    background-color: palegreen;
    position: absolute;
    top: 0px;
    right: 0px;
}

.continer_hero {
    width: 1199px;
    height: 691px;
    background-color: green;
    position: relative;
    top: 70px;
}

.continer_hero>.zone_text {
    width: 499px;
    height: 625px;
    background-color: yellow;
    position: relative;
    top: 33px;
}

.continer_hero>.zone_text>.div_more_than_medicine {
    width: 499px;
    height: 418px;
    background-color: orange;
    position: relative;
    top: 0px;
}

.continer_hero>.zone_text>.div_more_than_medicine>.titre_sur_forme_button {
    width: 499px;
    height: 48px;
    background-color: blue;
    position: relative;
    top: 0px;
}

.continer_hero>.zone_text>.div_more_than_medicine>.text {
    width: 499px;
    height: 234px;
    background-color: saddlebrown;
    position: relative;
    top: 35px;
}

.continer_hero>.zone_text>.div_more_than_medicine>.div_button_contact_appoi {
    width: 499px;
    height: 66px;
    background-color: aliceblue;
    position: absolute;
    bottom: 0px;

}

.continer_hero>.zone_text>.div_open_hours {
    width: 499px;
    height: 88px;
    background-color: violet;
    position: relative;
    top: 119px;
}


.continer_hero>.image_hero {
    width: 650px;
    height: 691px;
    background-color: yellow;
    position: absolute;
    top: 0px;
    right: 0px;
}